@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,800;1,400;1,800&display=swap');

$font-primary: 'Urbanist', 'San-Serif';

$color-blue-primary: #80a1bd;
$color-dark-primary: #525252;
$color-olive-primary: rgb(135, 134, 113);
$color-light-primary: #e6e6e6;
